@page "{systemUrl}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils

@model IndexModel

@inject IHtmlLocalizer<SharedResources> SharedLocalizer;
@inject IAuthorizationService AuthorizationService
@inject UrlBuilder UrlBuilder

@{
    ViewData["Title"] = "Cury";
}

<h2>Cury</h2>

<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
    {
    <a href="@UrlBuilder.BuildPropertyLink(
                     Model.GetLanguage(),
                     "Cury",
                     "Create",
                     ViewContext.RouteData.Values["systemUrl"] as string)">
        Create New
    </a>
    }

</div>
<table class="table">
    <thead>
    <tr>
            <th>
                @Html.DisplayNameFor(model => model.CuryTablLanguage[0].Oboztran)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CuryTablLanguage[0].CuryTabl.CuryTemp)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CuryTablLanguage[0].CuryTabl.ErrCury)
            </th>


        @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
        {
            <th>
                @SharedLocalizer["Reference"]
            </th>
        }

        @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
        {
        <th>Actions</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CuryTablLanguage)
    {
    <tr>
            <td>
                @Html.Raw(item.Oboztran)
            </td>

            <td>
                    @Html.Raw(item.CuryTabl.CuryTemp)
            </td>
            <td>
                    @Html.Raw(item.CuryTabl.ErrCury)
            </td>

        @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
        {
            <td>
                <a data-toggle="popover" data-placement="right"
                   data-content="@Html.Raw(Model.References[item.CuryTablId])">
                   @Model.References[item.CuryTablId].BibliogrId

                </a>
            </td>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
        {
         <td>
            <div>
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Cury",
                             "Edit",
                             queryParams: $"id={item.Id}"
                             )">
                    Edit
                </a>
                |
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Cury",
                             "Delete",
                             queryParams: $"id={item.Id}"
                             )">
                    Delete
                </a>
            </div>
         </td>
         }
    </tr>
    }
    </tbody>
</table>

<ul>
    @foreach (var image in Model.Images)
    {
        <li><a href="/ru/Images/@image.NameGraf">@Html.Raw(image.Signatur)</a></li>
    }
</ul>