@page "{systemUrl}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils

@model IndexModel

@inject IHtmlLocalizer<SharedResources> SharedLocalizer;
@inject IAuthorizationService AuthorizationService
@inject UrlBuilder UrlBuilder

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <a href="@UrlBuilder.BuildPropertyLink(
                     Model.GetLanguage(),
                     "Thermal_Conductivity",
                     "Create",
                     ViewContext.RouteData.Values["systemUrl"] as string)">
        Create New
    </a>

     <div style="float: right">
        Сингония:
        @foreach (var sing in Model.SingTabl)
        {
            <a href="@UrlBuilder.BuildPropertyLink(
                         Model.GetLanguage(),
                         "Thermal_Conductivity",
                         system: ViewContext.RouteData.Values["systemUrl"] as string,
                         queryParams: $"sing={sing.SingType}")">
                @sing.SingType
            </a>
        }
    </div>
</div>
<table class="table">
    <thead>
    <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeatExpnLanguage[0].MethodEx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatExpnLanguage[0].Znak1)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.HeatExpnLanguage[0].HeatExpn.DataType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatExpnLanguage[0].HeatExpn.Temper_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatExpnLanguage[0].HeatExpn.Temper_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatExpnLanguage[0].HeatExpn.S11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatExpnLanguage[0].HeatExpn.ErrHExp)
            </th>

            @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
            {
            <th>
                @SharedLocalizer["Reference"]
            </th>
            }

         <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.HeatExpnLanguage)
    {
    <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.MethodEx)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Znak1)
            </td>

            <td>
                    @Html.DisplayFor(modelItem => item.HeatExpn.DataType)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HeatExpn.Temper_1)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HeatExpn.Temper_2)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HeatExpn.S11)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HeatExpn.ErrHExp)
            </td>

            @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
            {
            <td>
                <a data-toggle="popover" data-placement="right"
                   data-content="@Html.Raw(Model.References[item.HeatExpnId])">
                    @Model.References[item.HeatExpnId].BibliogrId
                </a>
            </td>
            }

         <td>
                <div>
                    <a href="@UrlBuilder.BuildPropertyLink(
                                 Model.GetLanguage(),
                                 "Thermal_Conductivity",
                                 "Edit",
                                 queryParams: $"id={item.Id}"
                                 )">
                        Edit
                    </a>
                    |
                    <a href="@UrlBuilder.BuildPropertyLink(
                                 Model.GetLanguage(),
                                 "Thermal_Conductivity",
                                 "Delete",
                                 queryParams: $"id={item.Id}"
                                 )">
                        Delete
                    </a>
                </div>
            </td>
    </tr>
    }
    </tbody>
</table>