@page "{systemUrl}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils

@model IndexModel

@inject IHtmlLocalizer<SharedResources> SharedLocalizer;
@inject IAuthorizationService AuthorizationService
@inject UrlBuilder UrlBuilder

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <a href="@UrlBuilder.BuildPropertyLink(
                     Model.GetLanguage(),
                     "Heat",
                     "Create",
                     ViewContext.RouteData.Values["systemUrl"] as string)">
        Create New
    </a>

</div>
<table class="table">
    <thead>
    <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeatTablLanguage[0].MethodC)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.Temperat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.ZnC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.C)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatTablLanguage[0].HeatTabl.ErrC)
            </th>

            @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
            {
            <th>
                @SharedLocalizer["Reference"]
            </th>
            }

         <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.HeatTablLanguage)
    {
    <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.MethodC)
            </td>

            <td>
                    @Html.DisplayFor(modelItem => item.HeatTabl.Temperat)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HeatTabl.ZnC)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HeatTabl.C)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HeatTabl.ErrC)
            </td>

            @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
            {
            <td>
                <a data-toggle="popover" data-placement="right"
                   data-content="@Html.Raw(Model.References[item.HeatTablId])">
                    @Model.References[item.HeatTablId].BibliogrId
                </a>
            </td>
            }

         <td>
                <div>
                    <a href="@UrlBuilder.BuildPropertyLink(
                                 Model.GetLanguage(),
                                 "Heat",
                                 "Edit",
                                 queryParams: $"id={item.Id}"
                                 )">
                        Edit
                    </a>
                    |
                    <a href="@UrlBuilder.BuildPropertyLink(
                                 Model.GetLanguage(),
                                 "Heat",
                                 "Delete",
                                 queryParams: $"id={item.Id}"
                                 )">
                        Delete
                    </a>
                </div>
            </td>
    </tr>
    }
    </tbody>
</table>