@page
@model WithoutTranslateModel


<h3>Записи без перевода</h3>

<h4>SuspTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.SuspTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.SuspTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>HeatTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.HeatTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.HeatTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>ElemTablNew</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.ElemTablNewWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.ElemTablNewWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>HeatExpn</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.HeatExpnWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.HeatExpnWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>AcOpTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.AcOpTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.AcOpTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>CuryTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.CuryTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.CuryTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>MnOpTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.MnOpTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.MnOpTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>EsOpTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.EsOpTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.EsOpTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>DecrTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.DecrTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.DecrTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>HeadTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.HeadTablWithoutEnglish)
    {
        <li class="col-md-3">@item.HeadClue</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.HeadTablWithoutRussian)
    {
        <li class="col-md-3">@item.HeadClue</li>
    }
</ul>
<h4>HardTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.HardTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.HardTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>Bibliogr</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.BibliogrWithoutEnglish)
    {
        <li class="col-md-3">@item.Bknumber</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.BibliogrWithoutRussian)
    {
        <li class="col-md-3">@item.Bknumber</li>
    }
</ul>
<h4>Dielectr</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.DielectrWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.DielectrWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>ElOpTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.ElOpTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.ElOpTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>PzElTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.PzElTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.PzElTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>NlOpTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.NlOpTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.NlOpTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>DielDiss</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.DielDissWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.DielDissWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>PlavTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.PlavTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.PlavTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>ElemTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.ElemTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.ElemTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>Elastic1</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.Elastic1WithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.Elastic1WithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>GrafTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.GrafTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.GrafTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>ConstSel</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.ConstSelWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.ConstSelWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>ModfTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.ModfTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.ModfTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>DensTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.DensTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.DensTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>MechTabl</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.MechTablWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.MechTablWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
<h4>RefrcInd</h4>

<h5>Без английского перевода:</h5>

<ul class="row">
    @foreach (var item in Model.RefrcIndWithoutEnglish)
    {
        <li class="col-md-3">@item.Id</li>
    }

</ul>

<h5>Без русского перевода</h5>

<ul class="row">
    @foreach (var item in Model.RefrcIndWithoutRussian)
    {
        <li class="col-md-3">@item.Id</li>
    }
</ul>
