@page "{systemUrl}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils

@model IndexModel

@inject IHtmlLocalizer<SharedResources> SharedLocalizer;
@inject IAuthorizationService AuthorizationService
@inject UrlBuilder UrlBuilder

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <a href="@UrlBuilder.BuildPropertyLink(
                     Model.GetLanguage(),
                     "Lattice",
                     "Create",
                     ViewContext.RouteData.Values["systemUrl"] as string)">
        Create New
    </a>

     <div style="float: right">
        Сингония:
        @foreach (var sing in Model.SingTabl)
        {
            <a href="@UrlBuilder.BuildPropertyLink(
                         Model.GetLanguage(),
                         "Lattice",
                         system: ViewContext.RouteData.Values["systemUrl"] as string,
                         queryParams: $"sing={sing.SingType}")">
                @sing.SingType
            </a>
        }
    </div>
</div>
<table class="table">
    <thead>
    <tr>
            <th>
                @Html.DisplayNameFor(model => model.ElemTablLanguage[0].MethodP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElemTablLanguage[0].Nazbparam)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ElemTablLanguage[0].ElemTabl.Znparam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElemTablLanguage[0].ElemTabl.Errparam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElemTablLanguage[0].ElemTabl.NazvAngl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElemTablLanguage[0].ElemTabl.ZnAngle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElemTablLanguage[0].ElemTabl.ErrAngl)
            </th>

            @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
            {
            <th>
                @SharedLocalizer["Reference"]
            </th>
            }

         <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ElemTablLanguage)
    {
    <tr>
            <td>
                @Html.Raw(item.MethodP)
            </td>
            <td>
                @Html.Raw(item.Nazbparam)
            </td>

            <td>
                @Html.Raw(item.ElemTabl.Znparam)
            </td>
            <td>
                @Html.Raw(item.ElemTabl.Errparam)
            </td>
            <td>
                @Html.Raw(item.ElemTabl.NazvAngl)
            </td>
            <td>
                @Html.Raw(item.ElemTabl.ZnAngle)
            </td>
            <td>
                @Html.Raw(item.ElemTabl.ErrAngl)
            </td>

        @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
        {
            <td>
                <a data-toggle="popover" data-placement="right"
                   data-content="@Html.Raw(Model.References[item.ElemTablId])">
                    @Model.References[item.ElemTablId].BibliogrId
                </a>
            </td>

         <td>
            <div>
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Lattice",
                             "Edit",
                             queryParams: $"id={item.Id}"
                             )">
                    Edit
                </a>
                |
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Lattice",
                             "Delete",
                             queryParams: $"id={item.Id}"
                             )">
                    Delete
                </a>
            </div>
         </td>
         }
    </tr>
    }
    </tbody>
</table>

<ul>
    @foreach (var image in Model.Images)
    {
        <li><a href="/ru/Images/@image.NameGraf">@Html.Raw(image.Signatur)</a></li>
    }
</ul>