@page "{systemUrl}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils

@model IndexModel

@inject IHtmlLocalizer<SharedResources> SharedLocalizer;
@inject IAuthorizationService AuthorizationService
@inject UrlBuilder UrlBuilder

@{
    ViewData["Title"] = "Lattice";
}

<h2>Lattice</h2>

<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
    {
    <a href="@UrlBuilder.BuildPropertyLink(
                     Model.GetLanguage(),
                     "Lattice",
                     "Create",
                     ViewContext.RouteData.Values["systemUrl"] as string)">
        Create New
    </a>
    }

     <div style="float: right">
        Сингония:
        @foreach (var sing in Model.SingTabl)
        {
            <a href="@UrlBuilder.BuildPropertyLink(
                         Model.GetLanguage(),
                         "Lattice",
                         system: ViewContext.RouteData.Values["systemUrl"] as string,
                         queryParams: $"sing={sing.SingType}")">
                @sing.SingType
            </a>
        }
    </div>
</div>
<table class="table">
    <thead>
    <tr>
            <th>
                @Html.DisplayNameFor(model => model.ElemTablNewLanguage[0].MethodP)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ElemTablNewLanguage[0].ElemTablNew.A)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ElemTablNewLanguage[0].ElemTablNew.B)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ElemTablNewLanguage[0].ElemTablNew.C)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ElemTablNewLanguage[0].ElemTablNew.Alpha)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ElemTablNewLanguage[0].ElemTablNew.Beta)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ElemTablNewLanguage[0].ElemTablNew.Gamma)
            </th>


        @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
        {
            <th>
                @SharedLocalizer["Reference"]
            </th>
        }

        @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
        {
        <th>Actions</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ElemTablNewLanguage)
    {
    <tr>
            <td>
                @Html.Raw(item.MethodP)
            </td>

            <td>
                    @Html.Raw(item.ElemTablNew.A)
            </td>
            <td>
                    @Html.Raw(item.ElemTablNew.B)
            </td>
            <td>
                    @Html.Raw(item.ElemTablNew.C)
            </td>
            <td>
                    @Html.Raw(item.ElemTablNew.Alpha)
            </td>
            <td>
                    @Html.Raw(item.ElemTablNew.Beta)
            </td>
            <td>
                    @Html.Raw(item.ElemTablNew.Gamma)
            </td>

        @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
        {
            <td>
                <a data-toggle="popover" data-placement="right"
                   data-content="@Html.Raw(Model.References[item.ElemTablNewId])">
                   @Model.References[item.ElemTablNewId].BibliogrId

                </a>
            </td>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
        {
         <td>
            <div>
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Lattice",
                             "Edit",
                             queryParams: $"id={item.Id}"
                             )">
                    Edit
                </a>
                |
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Lattice",
                             "Delete",
                             queryParams: $"id={item.Id}"
                             )">
                    Delete
                </a>
            </div>
         </td>
         }
    </tr>
    }
    </tbody>
</table>

<ul>
    @foreach (var image in Model.Images)
    {
        <li><a href="/ru/Images/@image.NameGraf">@Html.Raw(image.Signatur)</a></li>
    }
</ul>