@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ElectroOptical</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ElOpTablLanguage.MethodR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElOpTablLanguage.MethodR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElOpTablLanguage.ZnN1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElOpTablLanguage.ZnN1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElOpTablInvariant.WvLeng)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElOpTablInvariant.WvLeng)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElOpTablInvariant.R)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElOpTablInvariant.R)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElOpTablInvariant.ErrR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElOpTablInvariant.ErrR)
        </dd>

    </dl>

    <form method="post">
        <input type="hidden" asp-for="ElOpTablLanguage.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>