@page "{systemUrl}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils

@model IndexModel

@inject IHtmlLocalizer<SharedResources> SharedLocalizer;
@inject IAuthorizationService AuthorizationService
@inject UrlBuilder UrlBuilder

@{
    ViewData["Title"] = "Dielectric";
}

<h2>Dielectric</h2>

<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
    {
    <a href="@UrlBuilder.BuildPropertyLink(
                     Model.GetLanguage(),
                     "Dielectric",
                     "Create",
                     ViewContext.RouteData.Values["systemUrl"] as string)">
        Create New
    </a>
    }

     <div style="float: right">
        Сингония:
        @foreach (var sing in Model.SingTabl)
        {
            <a href="@UrlBuilder.BuildPropertyLink(
                         Model.GetLanguage(),
                         "Dielectric",
                         system: ViewContext.RouteData.Values["systemUrl"] as string,
                         queryParams: $"sing={sing.SingType}")">
                @sing.SingType
            </a>
        }
    </div>
</div>
<table class="table">
    <thead>
    <tr>
            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].MethodY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Znak)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Dielectr.FreqDiel)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Dielectr.Temper_2)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Dielectr.Constant)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Dielectr.Diel)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Dielectr.ErrY)
            </th>


        @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
        {
            <th>
                @SharedLocalizer["Reference"]
            </th>
        }

        @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
        {
        <th>Actions</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.DielectrLanguage)
    {
    <tr>
            <td>
                @Html.Raw(item.MethodY)
            </td>
            <td>
                @Html.Raw(item.Znak)
            </td>

            <td>
                    @Html.Raw(item.Dielectr.FreqDiel)
            </td>
            <td>
                    @Html.Raw(item.Dielectr.Temper_2)
            </td>
            <td>
                    @Html.Raw(item.Dielectr.Constant)
            </td>
            <td>
                    @Html.Raw(item.Dielectr.Diel)
            </td>
            <td>
                    @Html.Raw(item.Dielectr.ErrY)
            </td>

        @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
        {
            <td>
                <a data-toggle="popover" data-placement="right"
                   data-content="@Html.Raw(Model.References[item.DielectrId])">
                   @Model.References[item.DielectrId].BibliogrId

                </a>
            </td>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
        {
         <td>
            <div>
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Dielectric",
                             "Edit",
                             queryParams: $"id={item.Id}"
                             )">
                    Edit
                </a>
                |
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Dielectric",
                             "Delete",
                             queryParams: $"id={item.Id}"
                             )">
                    Delete
                </a>
            </div>
         </td>
         }
    </tr>
    }
    </tbody>
</table>

<ul>
    @foreach (var image in Model.Images)
    {
        <li><a href="/ru/Images/@image.NameGraf">@Html.Raw(image.Signatur)</a></li>
    }
</ul>