@page "{systemUrl}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel
@inject IHtmlLocalizer<SharedResources> SharedLocalizer;
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].MethodY)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Znak)
            </th>
        

        
            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Dielectr.FreqDiel)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Dielectr.Temper_2)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Dielectr.Constant)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Dielectr.Diel)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.DielectrLanguage[0].Dielectr.ErrY)
            </th>
        

        
            @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
            {
            <th>
                @SharedLocalizer["Reference"]
            </th>
            }
        
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.DielectrLanguage)
    {
    <tr>
        
            <td>
                
                    @Html.DisplayFor(modelItem => item.MethodY)
                
            </td>
        
            <td>
                
                    @Html.DisplayFor(modelItem => item.Znak)
                
            </td>
        

        
            <td>
                
                    @Html.DisplayFor(modelItem => item.Dielectr.FreqDiel)
                
            </td>
        
            <td>
                
                    @Html.DisplayFor(modelItem => item.Dielectr.Temper_2)
                
            </td>
        
            <td>
                
                    @Html.DisplayFor(modelItem => item.Dielectr.Constant)
                
            </td>
        
            <td>
                
                    @Html.DisplayFor(modelItem => item.Dielectr.Diel)
                
            </td>
        
            <td>
                
                    @Html.DisplayFor(modelItem => item.Dielectr.ErrY)
                
            </td>
        

        
            @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
            {
            <td>
                <a data-toggle="popover" data-placement="right"
                   data-content="@Html.Raw(Model.References[item.DielectrId])">
                    @Model.References[item.DielectrId].BibliogrId
                </a>
            </td>
            }
        

        <td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>