@page "{systemUrl}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel
@inject IHtmlLocalizer<SharedResources> SharedLocalizer;
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.PzElTablLanguage[0].MethodPz)
            </th>
        

        
            <th>
                @Html.DisplayNameFor(model => model.PzElTablLanguage[0].PzElTabl.FreqPzEl)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.PzElTablLanguage[0].PzElTabl.ConstD)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.PzElTablLanguage[0].PzElTabl.D)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.PzElTablLanguage[0].PzElTabl.ErrD)
            </th>
        

        
            @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
            {
            <th>
                @SharedLocalizer["Reference"]
            </th>
            }
        
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PzElTablLanguage)
    {
    <tr>
        
            <td>
                
                    @Html.DisplayFor(modelItem => item.MethodPz)
                
            </td>
        

        
            <td>
                
                    @Html.DisplayFor(modelItem => item.PzElTabl.FreqPzEl)
                
            </td>
        
            <td>
                
                    @Html.DisplayFor(modelItem => item.PzElTabl.ConstD)
                
            </td>
        
            <td>
                
                    @Html.DisplayFor(modelItem => item.PzElTabl.D)
                
            </td>
        
            <td>
                
                    @Html.DisplayFor(modelItem => item.PzElTabl.ErrD)
                
            </td>
        

        
            @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
            {
            <td>
                <a data-toggle="popover" data-placement="right"
                   data-content="@Html.Raw(Model.References[item.PzElTablId])">
                    @Model.References[item.PzElTablId].BibliogrId
                </a>
            </td>
            }
        

        <td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>