@page "{systemUrl}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils

@model IndexModel

@inject IHtmlLocalizer<SharedResources> SharedLocalizer;
@inject IAuthorizationService AuthorizationService
@inject UrlBuilder UrlBuilder

@{
    ViewData["Title"] = "Solubility";
}

<h2>Solubility</h2>

<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
    {
    <a href="@UrlBuilder.BuildPropertyLink(
                     Model.GetLanguage(),
                     "Solubility",
                     "Create",
                     ViewContext.RouteData.Values["systemUrl"] as string)">
        Create New
    </a>
    }

</div>
<table class="table">
    <thead>
    <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuspTablLanguage[0].MethodS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspTablLanguage[0].SuspName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SuspTablLanguage[0].SuspTabl.Temper)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SuspTablLanguage[0].SuspTabl.Suspense)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SuspTablLanguage[0].SuspTabl.ErrSusp)
            </th>


        @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
        {
            <th>
                @SharedLocalizer["Reference"]
            </th>

        <th>Actions</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.SuspTablLanguage)
    {
    <tr>
            <td>
                @Html.Raw(item.MethodS)
            </td>
            <td>
                @Html.Raw(item.SuspName)
            </td>

            <td>
                    @Html.Raw(item.SuspTabl.Temper)
            </td>
            <td>
                    @Html.Raw(item.SuspTabl.Suspense)
            </td>
            <td>
                    @Html.Raw(item.SuspTabl.ErrSusp)
            </td>

        @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
        {
            <td>
                <a data-toggle="popover" data-placement="right"
                   data-content="@Html.Raw(Model.References[item.SuspTablId])">
                   @Model.References[item.SuspTablId].BibliogrId

                </a>
            </td>

         <td>
            <div>
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Solubility",
                             "Edit",
                             queryParams: $"id={item.Id}"
                             )">
                    Edit
                </a>
                |
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Solubility",
                             "Delete",
                             queryParams: $"id={item.Id}"
                             )">
                    Delete
                </a>
            </div>
         </td>
         }
    </tr>
    }
    </tbody>
</table>

<ul>
    @foreach (var image in Model.Images)
    {
        <li><a href="/ru/Images/@image.NameGraf">@Html.Raw(image.Signatur)</a></li>
    }
</ul>