@page "{systemUrl}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Utils

@model IndexModel

@inject IHtmlLocalizer<SharedResources> SharedLocalizer;
@inject IAuthorizationService AuthorizationService
@inject UrlBuilder UrlBuilder

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <a href="@UrlBuilder.BuildPropertyLink(
                     Model.GetLanguage(),
                     "Sellmeier",
                     "Create",
                     ViewContext.RouteData.Values["systemUrl"] as string)">
        Create New
    </a>

     <div style="float: right">
        Сингония:
        @foreach (var sing in Model.SingTabl)
        {
            <a href="@UrlBuilder.BuildPropertyLink(
                         Model.GetLanguage(),
                         "Sellmeier",
                         system: ViewContext.RouteData.Values["systemUrl"] as string,
                         queryParams: $"sing={sing.SingType}")">
                @sing.SingType
            </a>
        }
    </div>
</div>
<table class="table">
    <thead>
    <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConstSelLanguage[0].Measure)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ConstSelLanguage[0].ConstSel.Equation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstSelLanguage[0].ConstSel.NazvSel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstSelLanguage[0].ConstSel.ZnachSel)
            </th>

            @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
            {
            <th>
                @SharedLocalizer["Reference"]
            </th>
            }

         <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ConstSelLanguage)
    {
    <tr>
            <td>
                @Html.Raw(item.Measure)
            </td>

            <td>
                @Html.Raw(item.ConstSel.Equation)
            </td>
            <td>
                @Html.Raw(item.ConstSel.NazvSel)
            </td>
            <td>
                @Html.Raw(item.ConstSel.ZnachSel)
            </td>

        @if ((await AuthorizationService.AuthorizeAsync(User, "UserOnly")).Succeeded)
        {
            <td>
                <a data-toggle="popover" data-placement="right"
                   data-content="@Html.Raw(Model.References[item.ConstSelId])">
                    @Model.References[item.ConstSelId].BibliogrId
                </a>
            </td>

         <td>
            <div>
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Sellmeier",
                             "Edit",
                             queryParams: $"id={item.Id}"
                             )">
                    Edit
                </a>
                |
                <a href="@UrlBuilder.BuildPropertyLink(
                             Model.GetLanguage(),
                             "Sellmeier",
                             "Delete",
                             queryParams: $"id={item.Id}"
                             )">
                    Delete
                </a>
            </div>
         </td>
         }
    </tr>
    }
    </tbody>
</table>

<ul>
    @foreach (var image in Model.Images)
    {
        <li><a href="/ru/Images/@image.NameGraf">@Html.Raw(image.Signatur)</a></li>
    }
</ul>